.md-typeset h1 { font-weight: 800; }
.md-typeset h2 { font-weight: 700; }
.md-typeset h3 { font-weight: 700; }
.md-typeset h4 { font-weight: 600; }
.md-typeset p, .md-typeset li { font-weight: 500; }
.air-title { font-family: var(--md-text-font); font-weight: 800; }
.air-subtitle { font-family: var(--md-text-font); font-weight: 600; }